<!DOCTYPE html>
<html lang="en" class="no-js"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title th:text="#{app.title}">-Enquiries-</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script th:src="@{js/jquery.sticky-kit.js}"></script>
    
  <style id="jsbin-css">
  
  .fakeimg {height: 200px; background: #aaa;}
  html, body, #map-canvas {height: 400px; width: 100%; padding: 10px}
  button {margin: 0 0 10px;}
     
  </style>
  
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0; padding:0">
  <div class="fakeimg">Fake Image</div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

 	<ul class="navbar-nav">
       <li class="nav-item">
        <h4> Contact Us</h4>
      </li>
      <li class="nav-item">
         <i class="material-icons" style="font-size:32px;color:red; padding: 0px 10px 0px 10px;">mail_outline</i>
      </li>
    </ul>	   
	 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
  	 <div style="margin-top: 15px">
     <form>
      <div class="input-group mb-3">
       <input type="text" class="form-control form-control-sm mr-2" id="email2" placeholder="Enter email">
        <input type="text" class="form-control form-control-sm mr-2" id="pwd2" placeholder="Enter password">
         <div class="input-group-append">
          <button type="button" class="btn btn-sm btn btn-outline-info">Sign in</button>
        </div>
      </div>  
    </form>
  </div>
  
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-3">
    
      <p style="margin-bottom: 0px">You can email us directly at:</p>
      <a href="mailto:latidude99test@gmail.com?Subject=Map%20enquiry" target="_top">sales@mapcenter.com</a>
      
      <p style="padding: 20px 0px 0px 0px; margin-bottom: 0px">or give us a call on:</p>
      <span style="color: red">+ 44 207 45673 3454</span>
      
      <p style="padding: 20px 0px 0px 0px; margin-bottom: 0px">You can also visit us here:</p>
	  <p style="color: #808080; margin-bottom: 0px">10 Long Acre</sppan>
      <p style="color: #808080; margin-bottom: 0px">WC2E 8LP</p>
      <p style="color: #808080; margin-bottom: 0px">London</p>
      <p style="color: #808080; margin-bottom: 0px">United Kingdom</p>
      
      <p style="padding: 20px 0px 0px 0px; margin-bottom: 0px">Opening hours:</p>
	  <p style="color: #808080; margin-bottom: 0px">Monday 9am - 8pm</sppan>
      <p style="color: #808080; margin-bottom: 0px">Tuesday 9am - 8pm</p>
      <p style="color: #808080; margin-bottom: 0px">Wednesday 9am - 8pm</p>
      <p style="color: #808080; margin-bottom: 0px">Thursday 9am - 8pm</p>
      <p style="color: #808080; margin-bottom: 0px">Friday 9am - 8pm</p>
      <p style="color: #808080; margin-bottom: 0px">Saturday 9am - 8pm</p>
      <p style="color: #808080; margin-bottom: 10px">Sunday 11.30am - 6pm</p>
      <p style="color: #808080; margin-bottom: 0px">Bank Holidays 11am - 7pm</p>
      
    </div>
    
    
    <div class="col-sm-9">
      
     <div>
      <h4 Style="padding: 0px 0px 20px 0px;">Enquiry Form</h4>
    
      
      
      <form action="/action_page.php">
      
      	<div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Your Name*</span>
          </div>
          <input type="text" class="form-control" placeholder="Name" id="usr" name="name">
        </div>
      
      	<div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email Address*</span>
          </div>
          <input type="text" class="form-control" placeholder="Email" id="usr" name="email">
        </div>
        
        <div class="form-group">
          <label for="sel1">What can we help you with?*</label>
          <select class="form-control" id="sel1" name="sellist1">
            <option>General information</option>
            <option>Maps</option>
            <option>Guides</option>
            <option>Customised maps</option>
            <option>Travel Literature</option>
          </select>
        </div>
        
        <div class="mt-3"></div>
         
        <div class="form-group">
          <label for="comment">Your Enquiry*</label>
          <textarea class="form-control" rows="10" id="comment" name="text"></textarea>
        </div>
        
        <div class="mt-3"></div>
        
        <label for="comment">Mark the area (optional)</label>
        
        <div id="map" class="mt-1" style="width:100%;height:400px;">
        	<button onclick="drawRec();">Draw Rectangle</button>
			<button onclick="drawPolygon();">Draw Polygon</button>
			<div id="map-canvas"></div>
        </div>
        
        <div class="mt-3">
	         <p>Attach file 1</p>
	          <div class="custom-file mb-3">
	            <input type="file" class="custom-file-input" id="customFile" name="filename">
	            <label class="custom-file-label" for="customFile">Choose file</label>
	          </div>
	         <p>Attach file 2</p>
	          <div class="custom-file mb-3">
	            <input type="file" class="custom-file-input" id="customFile" name="filename">
	            <label class="custom-file-label" for="customFile">Choose file</label>
	          </div>
	         <p>Attach file 3</p>
	          <div class="custom-file mb-3">
	            <input type="file" class="custom-file-input" id="customFile" name="filename">
	            <label class="custom-file-label" for="customFile">Choose file</label>
	          </div>
	     </div>
        
       <div class="mt-3">
        <button type="submit" class="btn btn-primary" style="width:100%">Send Enquiry</button>
      </div>
      </form>
    </div>
      
  </div>
</div>

<div class="mt-3"></div>
<div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0; padding:10px; height: 50px;">
  <p>Footer</p>
</div>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing&key=AIzaSyCbeTjn_d4C-OFFJoRbmkfNfvyc7QjkAoM">
	</script>
	<script id="jsbin-javascript">
		var map;
		var drawingManager = new google.maps.drawing.DrawingManager();
		var infoWindow=new google.maps.InfoWindow();
		function initialize() {
		    var mapOptions = {
		        center: new google.maps.LatLng(53.395032, -1.921502),
		        zoom: 9
		    };
		    map = new google.maps.Map(document.getElementById('map-canvas'),
		    mapOptions);
		    
		}
	
		function drawRec() {
		// Checking any Whether any drawing tool is available.If yes, disabling it.
				if (drawingManager.getMap()) {
					drawingManager.setMap(null);
				}
		
				//Setting options for the Drawing Tool. In our case, enabling Polygon shape.
				drawingManager.setOptions({
					drawingMode : google.maps.drawing.OverlayType.RECTANGLE,
					drawingControl : true,
					drawingControlOptions : {
						position : google.maps.ControlPosition.TOP_CENTER,
						drawingModes : [ google.maps.drawing.OverlayType.RECTANGLE ]
					},
					rectangleOptions : {
						strokeColor : '#6c6c6c',
						strokeWeight : 3.5,
						fillColor : '#926239',
						fillOpacity : 0.6,
		                editable: true,
		              draggable: true
					}	
				});
				// Loading the drawing Tool in the Map.
				drawingManager.setMap(map);
		}
		
		function drawPolygon() {
		//Checking any Whether any drawing tool is available.If yes, disabling it.
				if (drawingManager.getMap()) {
					drawingManager.setMap(null);
				}
				//Setting options for the Drawing Tool. In our case, enabling Polygon shape.
				drawingManager.setOptions({
					drawingMode : google.maps.drawing.OverlayType.POLYGON,
					drawingControl : true,
					drawingControlOptions : {
						position : google.maps.ControlPosition.TOP_CENTER,
						drawingModes : [ google.maps.drawing.OverlayType.POLYGON ]
					},
					polygonOptions : {
						strokeColor : '#6c6c6c',
						strokeWeight : 3.5,
						fillColor : '#926239',
						fillOpacity : 0.6
					}	
				});
				// Loading the drawing Tool in the Map.
				drawingManager.setMap(map);
		  		google.maps.event.addListener(drawingManager,'polygoncomplete',function(polygon){ var content;
					var vert = polygon.getPath();
		            var contents = '<b>Region Name : </b><input type="text" size="20" id="region-name"/><br/><b>Description : </b><textarea id="region-desc" cols="20" rows="3"></textarea><br/><input id="save-region" type="button" value="Save Region"/><input id="delete-region" type="button" value="Remove Region"/><br/>-------CO-ORDINATES------------<br/>';
					var bounds = new google.maps.LatLngBounds();
						vert.forEach(function(xy, i) {
		                    //6 digit is enough to hold any spatial application.
		                  content = 'Lat :_: ' + xy.lat().toFixed(6) + ', Lng :_: ' + xy.lng().toFixed(6) + '<br/>';
							bounds.extend(xy);
		                    contents +=content;});
					infoWindow.setContent(contents);
					infoWindow.setPosition(bounds.getCenter());
					drawingManager.setDrawingMode(null);
					infoWindow.open(map);
		        });
		}
	
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</body>
</html>














